<div id="<%= dom_id hospital %>">
  <p>
    <strong>Slug:</strong>
    <%= hospital.slug %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= hospital.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hospital.description %>
  </p>

</div>
